$cor-amarelo:          #ffd740;
$cor-cinza:            #bdbdbd;
$cor-cinza-claro:      #ebebeb;
$cor-cinza-escuro:     #757575;
$cor-azul-claro:       #0288d1;
$cor-azul-claro2:      #039be5;
$cor-branco:           #fff;
$cor-verde:            #4caf50;
$cor-vermelho:         #e53935;
